body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: rgb(206, 203, 203);
}
#frame {
    border: 5px solid black;
    padding: 2px;
    background-color: black;
    max-width: 25vh;
}
#frame-rows{   
    display: flex;
    align-items: center;
    width:100%;
}
button{
    width:  100%;
    margin:  1px;
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 30px;
    background-color: white;
}
input{
    max-width: 24vh;
    height: 30px;
    font-size: 20px;
    outline: none !important;
    border:2px solid darkgreen;
    caret-color: transparent;
    direction: rtl;
}

